HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.github/copilot-instructions.md
aems-frontend/node_modules/.vite/deps/chunk-JRLQ3KC7.js
aems-frontend/node_modules/.vite/deps/chunk-JRLQ3KC7.js.map
aems-frontend/node_modules/.vite/deps/chunk-XDXUPS7T.js
aems-frontend/node_modules/.vite/deps/chunk-XDXUPS7T.js.map
aems-frontend/node_modules/.vite/deps/package.json
aems-frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js
aems-frontend/node_modules/.vite/deps/react_jsx-dev-runtime.js.map
aems-frontend/node_modules/.vite/deps/react_jsx-runtime.js
aems-frontend/node_modules/.vite/deps/react_jsx-runtime.js.map
aems-frontend/node_modules/.vite/deps/react-dom_client.js
aems-frontend/node_modules/.vite/deps/react-dom_client.js.map
aems-frontend/node_modules/.vite/deps/react-router-dom.js
aems-frontend/node_modules/.vite/deps/react-router-dom.js.map
aems-frontend/node_modules/.vite/deps/react.js
aems-frontend/node_modules/.vite/deps/react.js.map
aems-frontend/node_modules/.vite/deps/_metadata.json
